
    <!-- <section class="sidebar">
        <div class="navigasi">
            <ul>
                <a href="../index/"><li>Peta</li></a>
                <a href="../create_locations/create.php"><li>Tambahakan Lokasi</li></a>
                <a href="../index/data.php"><li>Data Lokasi</li></a>
                <a href="../database/logout.php"><li>Log Out</li></a>
            </ul>
        </div>
    </section> -->
    <div class="flex min-h-screen">
        <aside class="w-64 bg-gray-800 text-white">
            <div class="p-4">
                <h2 class="text-xl font-bold">Navigasi</h2>
            </div>
            <div class="navigasi px-4">
                <ul class="space-y-2">
                    <li>
                        <a href="../index/" class="block px-4 py-2 rounded hover:bg-gray-700">Peta</a>
                    </li>
                    <li>
                        <a href="../create_locations/create.php" class="block px-4 py-2 rounded hover:bg-gray-700">Tambah Lokasi</a>
                    </li>
                    <li>
                        <a href="../index/data.php" class="block px-4 py-2 rounded hover:bg-gray-700">Data Lokasi</a>
                    </li>
                    <li>
                        <a href="../database/logout.php" class="block px-4 py-2 rounded hover:bg-gray-700">Log Out</a>
                    </li>
                </ul>
            </div>
        </aside>
    </div>